.content_single{
    width: 100%;
    /* height: 600px; */
    padding: 50px 0px;
    /* background-color: aquamarine; */
    margin-top: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.image{
    width: 600px;
    min-width: 200px;
}
.image img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.informat{
    width: 600px;
    min-width: 200px;
    padding: 20px 10px;
    /* background-color: #fff; */
    font-family: var(--font_famOne);
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.082);
}
.informat h3{
    font-family: var(--font_famTwo);
    color: var(--color_five);
    font-size: 2rem;
    font-weight: 700;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}
.informat h3::after{
    content: "";
    display: block;
    width: 100px;
    height: 1px;
    margin: 0 auto;
    background-color: currentColor;
}
.informat p{
    color: var(--color_five);
}
.price{
    font-size: 1.4rem;
}
.informat .butte{
    /* background-color: azure;; */
}
.informat .butte button{
    min-width: 100px;
    padding: 5px 10px;
    color: var(--txt_color);
    background-color: var(--color_one);
    border: none;
    cursor: pointer;
    border-radius: 3px;
}
.informat .butte input{
    width: 120px;
    min-width: 100px;
    padding: 5px 10px;
    border: none;
    /* background-color: antiquewhite; */
}

.comment{
    margin-top: 20px;
    font-size: .8rem;
    color: #696969 !important;
}
.cart {
    background-color: #d1d1d1 !important;
    color: var(--color_five) !important;
}