@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&family=Poppins:wght@100;300;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200;0,400;0,600;1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200;300;400;500;600&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
:root {
    --bg_color:#f6828b;
    --txt_color:#ffffff;
    --red_color:#fdc0c5;
    --red_color_two:#c83c3c;

    --font_Size:16px;
    --font_famOne:'Poppins', sans-serif;
}
.contact{
    margin-top: 48px;
    margin-bottom: 58px;
    width: 100%;
    height: 100%;
    padding: 40px;
    /* background-color: rgb(228, 228, 228); */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.bloco{
    width: 100%;
    /* height: 500px; */
    max-width: 600px;
    /* background-color: rgb(245, 217, 229); */
    box-shadow: 0px 2px 10px rgba(206, 206, 206, 0.377);
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 3px;
    /* align-items: center; */
}
.spec_contact{
    width: 100%;
    text-align: center;
    margin: 10px 0px;
    font-family: var(--font_famOne);
}
.bloco h2{
    width: 100%;
    text-align: center;
    font-family: 'Assistant', sans-serif;
    margin: 20px 0px;
}
.bloco form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.bloco form input{
    width: 100%;
    max-width: 500px;
    border: none;
    height: 40px;
    padding: 10px;
    font-family: 'Assistant', sans-serif;
    outline: none;
    font-size: 1.1rem;
    box-shadow: 0px 2px 10px rgba(206, 206, 206, 0.384);
}
.bloco form textarea{
    border: none;
    font-size: 1.1rem;
    width: 100%;
    max-width: 500px;
    padding: 10px;
    resize: none;
    outline: none;
    font-family: 'Assistant', sans-serif;
    box-shadow: 0px 2px 10px rgba(206, 206, 206, 0.384);
}
.bloco form .buts{
    width: 100%;
    display: flex;
    gap: 5px;
    justify-content: center;
}
.buts button {
    width: 100%;
    height: 30px;
    max-width: 140px;
    border: none;
    background-color: rgb(22, 22, 22);
    color: #fff;
    font-family: 'Assistant', sans-serif;
    border-radius: 3px;
    cursor: pointer;
}

.midias{
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px 0px;
    gap: 10px;
}
.midias i{
    font-size: 2.5rem;
}
.midias a {
    color: rgb(22, 22, 22);
}

.autor{
    width: 100%;
    max-width: 600px;
    margin-top: 10px;
    color: rgb(68, 68, 68);
    font-family: 'Assistant', sans-serif;
    font-size: .8rem;
    text-align: center;
}
