@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&family=Poppins:wght@100;300;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200;0,400;0,600;1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200;300;400;500;600&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
:root {
    --color_one:#C7044B;
    --color_two:#027353;
    --color_three:#F2137B;
    --color_four:#7A2746;
    --color_five:#141414;
    --txt_color:#ffffff;

    --font_Size:16px;
    --title_Size:20px;
    --font_famOne:'Assistant', sans-serif;
    --font_famTwo:'Poppins', sans-serif;
}
.father{
    width: 100%;
    height: 100%;overflow: hidden;
}
.header{
    width: 100%;
    height: 48px;
    background-color: var(--color_four);
    font-family: var(--font_famOne);
    display: flex;
    align-items: center !important;
    justify-content: space-around;
    padding: 0px 16px;
    z-index: 10;
    position: fixed;
}
.header .logo{
    width: 30%;
    min-width: 200px;
    display: flex;
    align-items: center;
}
.logo a{
    display: flex;
    align-items: center;
    color: var(--txt_color);
    /* font-size: 20px; */
    margin-right: 20px;
    text-decoration: none;
}
.header .logo h2{
    color: var(--txt_color);
    font-weight: 400;
    display: flex;
    align-items: center;
    font-size: var(--title_Size);
}
.header ul{
    /* width: 30%; */
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
    gap: 40px;
    font-size: var(--font_Size);
}
.header ul a{
    color: var(--txt_color);
    text-decoration: none;
}
.header .extras{
    width: 30%;
    /* background-color: #fdc0c5; */
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0px 20px;
    color: var(--txt_color);
    font-size: 1.4rem;
    gap: 30px;
}
.new{
    width: 15px;
    height: 12px;
    padding: 1.2px;
    background-color: var(--color_two);
    position: absolute;
    border-radius: 50%;
    font-size: 10px;
    font-family: 'Assistant', sans-serif;
    text-align: center;
}
/* ============================================ */
.content{
    margin-top: 48px;
    width: 100%;
    /* height: 300px; */
    /* padding: 10px; */
    /* background-color: #cecece; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.content .banner{
    width: 100%;
    /* background-color: #e6e6e6; */
    height: 300px;
    position: relative;
}
.banner img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 20%;
}
.block_hello{
    width: 100%;
    max-width: 400px;
    text-align: left;
    position: absolute;
    font-family: 'Assistant', sans-serif;
    top: 50%;
    left: 12.4%;
    transform: translateY(-50%);
    color: rgb(22, 22, 22);
}
.block_hello h2{
    font-family: var(--font_famOne);
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 5px;
    text-transform: uppercase;
}
.block_hello button{
    /* width: 100px; */
    border: none;
    background-color: var(--color_one);
    color: #fff;
    /* height: 20px; */
    padding: 10px 20px;
    margin-top: 10px;
    font-family: 'Assistant', sans-serif;
    border-radius: 3px;
    cursor: pointer;
}
/* ============================================ */

.titleLine{
    width: 100%;
    height: auto;
    padding: 10px;
    font-family: 'Assistant', sans-serif;
    text-align: center;
    /* background-color: #df2929; */
}
.titleLine::after{
    content: '';
    width: 100px;
    height: 1px;
    background-color: currentColor;
    display: block;
    margin: 0 auto;
}


/* ============================================ */

.tables{
    width: 100%;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    padding: 10px;
}
.bloco_tables{
    width: 100%;
    max-width: 1200px;
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
}
.bloco_table{
    width: 220px;
    min-width: 200px;
    background-color: #ffffff;
    padding: 5px;
    /* box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.281); */
    box-shadow: 0px 3px 10px rgb(177, 177, 177);
    border-radius: 5px;
}
.image_bloco{
    width: 100%;
    height: 150px;
}
.image_bloco img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: .3s;
}
.image_bloco img:hover{
    transform: scale(1.3);
}
.infor{
    padding: 5px;
    font-family: var(--font_famOne);

}
.infor p strong{
    font-size: 1.3rem;
    width: 100%;
    overflow: hidden;
}
.infor p{
    margin: 5px 0px;
    font-size: .9rem;
}

.buton_buy button{
    font-family: var(--font_famOne);
    border: none;
    background-color: var(--color_one);
    color: var(--txt_color);
    /* width: 70px; */
    /* height: 25px; */
    padding: 5px 20px;
    border-radius: 3px;
    text-align: center;
    cursor: pointer;
}
.bloco_tables .indi{
    font-family: 'Assistant', sans-serif;
    border: none;
    background-color: rgb(22, 22, 22);
    color: #fff;
    border-radius: 3px;
    padding: 10px;
    display: none;
}

/* ============================================ */

.moreContent{
    width: 100%;
    /* height: 200px; */
    /* background-color: rgba(22, 22, 22, 0.349); */
    display: flex;
    gap: 10px;
    justify-content: center;
    padding: 10px;
    align-items: center;
    flex-wrap: wrap;
}
.anuncio1, .anuncio2 {
    width: 100%;
    max-width: 550px;
    min-width: 200px;
    height: 200px;
    background-color: #fdc0c5;
}
.anuncio1 img, .anuncio2 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* ============================================ */

.moreContent2{
    padding: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
}
.spaceAnun{
    margin: 10px 0px 0px 10px;
    box-shadow: 0px 3px 10px rgb(177, 177, 177);
}
.map{
    width: 100%;
    max-width: 1200px;
    height: 300px;
    object-fit: cover;
    overflow: hidden;
    display: flex;
    align-items: center;justify-content: center
    ;
}

/* ============================================ */

.menuPage{
    display: none;
    width: 100%;
    /* height: 50px; */
    padding: 14px 0px;
    background-color: rgb(22, 22, 22);
    position: fixed;
    bottom: 0px;
    z-index: 11;
}
.menuPage ul{
    width: 100%;
    height: 100%;
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-around;
}
.menuPage ul li a{
    color: #fff;
    font-size: 1.6rem;
}
.menuPage ul li{

}

/* ============================================ */





.end_page{
    width: 100%;
    /* height: 50px; */
    padding: 20px 0px;
    background-color: var(--color_five);
    display: flex;
    align-items: center;
    justify-content: center;
}

.autor{
    width: 100%;
    max-width: 600px;
    margin-top: 10px;
    color: rgb(202, 202, 202);
    font-family: 'Assistant', sans-serif;
    font-size: .8rem;
    text-align: center;
}


@media screen and (max-width:1080px) {
    .tables{
        padding: 0px;
    }
    .bloco_tables{
        width: 100%;
        overflow: scroll;
        justify-content: start;        
    }
    .bloco_tables .indi{
        display: block;
    }
}

@media screen and (max-width:750px) {
    .end_page{
    margin-bottom: 50px;
    }
    .menuPage{
        display: block;
    }
    .header{
        /* padding: 10px 0px 0px 10px; */
        height: 70px;
    }
    .header ul{
        display: none;
    }
    .block_hello{
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        /* position: relative; */
    }
    .block_hello h2{
        font-size: 1.2rem;
    }
}