@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&family=Poppins:wght@100;300;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200;0,400;0,600;1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200;300;400;500;600&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
:root {
    --bg_color:#f6828b;
    --txt_color:#ffffff;
    --red_color:#fdc0c5;
    --red_color_two:#c83c3c;

    --font_Size:16px;
    --font_famOne:'Poppins', sans-serif;
}
        .father{
            width: 100%;
            height: 100%;
        }
        .header{
            width: 100%;
            height: 48px;
            background-color: rgb(22, 22, 22);
            font-family: 'Assistant', sans-serif;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0px 16px;
        }
        .header .logo{
            width: 30%;
            min-width: 230px;
            display: flex;
            align-items: center;
            /* background-color: #fdc0c5; */
        }
        .logo a{
            display: flex;
            align-items: center;
            color: #fff;
            font-size: 20px;
            margin-right: 20px;
            text-decoration: none;
        }
        .header .logo h2{
            color: rgb(221, 221, 221);
            font-weight: 400;
            display: flex;
            align-items: center;
        }
        .header ul{
            width: 30%;
            /* background-color: #f6828b; */
            display: flex;
            list-style: none;
            align-items: center;
            justify-content: center;
            gap: 40px;
            font-size: 1.1rem;
        }
        .header ul a{
            color: rgb(199, 199, 199);
            text-decoration: none;
        }
        .header .extras{
            width: 30%;
            /* background-color: #fdc0c5; */
            display: flex;
            align-items: center;
            justify-content: flex-end;
            padding: 0px 20px;
            color: rgb(199, 199, 199);
            font-size: 1.4rem;
            gap: 30px;
        }
        .new{
            width: 12px;
            height: 12px;
            background-color: #df2929;
            position: absolute;
            border-radius: 50%;
        }
        .content{
            width: 100%;
            height: 600px;
            /* background-color: #f6828b; */
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            padding: 30px 0px;
            user-select:none;
            font-family: var(--font_famOne);
        }
        .content .image{
            max-width: 500px;
            max-height: 500px;
            margin-right: 50px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        .descp{
            max-width: 500px;
            max-height: 500px;
            padding: 20px;
            display: flex;
            flex-direction: column;
            /* align-items: center; */
            justify-content: center;
        }
        .image img{
            width: 100%;
            height: 100%;
        }
        .descp h2,h3{
            font-weight: 500;
        }
        .descp h2{
            font-size: 30px;
            margin-bottom: 10px;
        }
        .descp .descp_product p{
            font-size: .89rem;
            margin-bottom: 30px;
        }
        .descp .valor{
            margin-bottom: 30px;
        }
        .butps button{
            padding: 0px 20px;
            height: 25px;
            border: none;
            font-size: 1.5rem;
            background-color: transparent;
            cursor: pointer;
            color: rgba(0, 0, 0, 0.575);
        }
        .button_buy{
            padding: 10px 5px;
            background-color: #f0ebeb;
        }
        .button_buy input{
            width: 100px;
            height: 30px;
            outline: none;
            padding: 2px 5px;
        }
        .button_buy button{
            font-family: var(--font_famOne);
            border: none;
            background-color: rgb(22, 22, 22);
            color: #fff;
            width: 100px;
            height: 30px;
        }
        @media screen and (max-width:1080px) {
            .tables{
                padding: 0px;
            }
            .bloco_tables{
                width: 100%;
                overflow: scroll;
                justify-content: start;        
            }
            .bloco_tables .indi{
                display: block;
            }
        }
        
        @media screen and (max-width:750px) {
            .header ul{
                display: none;
            }
            .block_hello{
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 100%;
                /* position: relative; */
            }
            .block_hello h2{
                font-size: 1.2rem;
            }
        }